/* dotgothic16-regular - japanese */
@font-face {
    font-family: 'DotGothic16';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/dotgothic16-v15-japanese-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/dotgothic16-v15-japanese-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/fonts/dotgothic16-v15-japanese-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('/fonts/dotgothic16-v15-japanese-regular.woff') format('woff'), /* Modern Browsers */ url('/fonts/dotgothic16-v15-japanese-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('/fonts/dotgothic16-v15-japanese-regular.svg#DotGothic16') format('svg'); /* Legacy iOS */
}
